{{- $scope := default "homepage" .Scope -}}
{{- $context := .Context -}}
<aside class="sidebar right-sidebar sticky">
    {{ partial "sidebar/profile.html" $context }}
    {{- with (index $context.Site.Params.widgets $scope) -}}
        {{ range $widget := . }}
            {{ if templates.Exists (printf "_partials/widget/%s.html" .type) }}
                {{- $params := default dict .params -}}
                {{ partial (printf "widget/%s" .type) (dict "Context" $context "Params" $params) }}
            {{ else }}
                {{ warnf "Widget %s not found" .type }}
            {{ end }}
        {{ end }}
    {{- end -}}
</aside>
